<% include _config/_path %>
<% include _common/_header %>
<!-- CONTENTS -->
	<main>
		<div class="container">
			<h1 class="page-logo">
				<a href="https://www.sincerite.jp/">
					<img src="assets/images/logo.svg" alt="サンセリテ札幌">
				</a>
			</h1>
			<div class="md-cta">
				<div class="md-cta__image">
					<img src="assets/images/md-cta.png" alt="新健康習慣、はじめよう！">
				</div>
				<div class="md-links">
					<a href="https://www.sincerite.jp/kakedashi/kitchen/" class="md-banner">
						<img src="assets/images/banner.png" alt="">
					</a>
					<a href="https://shop.sincerite.jp/lp?u=kakedashi_01" class="md-cta__btn">
						<img src="assets/images/btn.png" alt="購入はこちら">
					</a>
				</div>
			</div>
			<div class="md-character">
				<img src="assets/images/md-character.png" alt="KAKEDASHIくん">
			</div>
			<div class="contents">
				<section class="top">
					<h2 class="top__title">
						<img src="assets/images/top_text.svg" alt="食べる栄養">
					</h2>
					<div class="top-contents">
						<p class="top-contents__catch">
							<img src="assets/images/top_title.svg" alt="KAKEDASHI">
						</p>
						<div class="top-contents__chara">
							<img src="assets/images/top_character.svg" alt="KAKEDASHIくん">
						</div>
					</div>
				</section>
				<section class="about">
					<h2 class="about__catch">
						<img src="assets/images/about_catch.svg" alt="捨てずに食べる 海の幸">
					</h2>
					<div class="about__product">
						<img src="assets/images/about_product.png" alt="">
					</div>
					<div class="about__package">
						<img src="assets/images/about_package.png" alt="">
					</div>
					<img src="assets/images/about_background.png" alt="">
				</section>
				<section class="wats">
					<h2 class="wats__title">
						<img src="assets/images/wats_title.svg" alt="What's KAKEDASHI かけだし">
					</h2>
					<p class="wats__text">
						<img src="assets/images/wats_text.svg" alt="サプリメント会社が、「栄養をおいしく手軽にとるためには？」と考えてつくった食品です。">
					</p>
					<div class="wats__image">
						<img src="assets/images/wats_image.png" alt="wats_image.png">
					</div>
				</section>
				<section class="use">
					<h2 class="use__title01">
						<img src="assets/images/use_title01.svg" alt="ふつうの出汁パック">
					</h2>
					<p class="use__description01">
						<img src="assets/images/use_description01.svg" alt="スープ以外は捨てちゃう！">
					</p>
					<div class="use__contents">
						<h2 class="use__title02">
							<img src="assets/images/use_title02.svg" alt="「KAKEDASHI(かけだし)」なら">
						</h2>
						<p class="use__description02">
							<img src="assets/images/use_description02.png" alt="美味しく食べる！栄養摂取！">
						</p>
						<p class="use__text">
							<img src="assets/images/use_text.png" alt="そのままかけるまるごと食べる">
						</p>
						<div class="use__iamge">
							<img src="assets/images/use_image.png" alt="">
						</div>
					</div>
				</section>
				<section class="simple">
					<h2 class="simple__title">
						<img src="assets/images/simple_title.svg" alt="KAKEDASHI is シンプル">
					</h2>
					<p class="simple__text">
						<img src="assets/images/simple_text.svg" alt="良質素材を、粉末にしただけの食品です。原材料はかつお、さば、いわし、あじ、昆布、椎茸、以上。">
					</p>
					<div class="simple__image">
						<img src="assets/images/simple_image.svg" alt="栄養、そのまま！旨味が、ぎゅっ！">
					</div>
					<div class="simple__detail">
						<img src="assets/images/simple_desc.png" alt="旨味調味料、保存料、香料、着色料、不使用。酵母エキスも不使用。">
					</div>
				</section>
				<div class="nutrition">
					<img src="assets/images/nutrition.png" alt="サプリメント屋がこだわったおいしい健康配合。">
				</div>
				<section class="mineral">
					<h2 class="mineral__title">
						<img src="assets/images/mineral_title.svg" alt="KAKEDASHIなら不足しているミネラルを手軽に補えます。">
					</h2>
					<div class="mineral__graph">
						<img src="assets/images/mineral_graph.gif" alt="不足分はカケダシで補おう！">
					</div>
					<div class="mineral__image01">
						<img src="assets/images/mineral_image01.png" alt="不足しているカルシウム52mgがKAKEDASHI約1杯(5.6g)で補えます！">
					</div>
					<div class="mineral__image02">
						<img src="assets/images/mineral_image02.png" alt="その他ミネラル成分もいっぺんに！おぎなうことができます">
					</div>
					<div class="mineral__image03">
						<img src="assets/images/mineral_image03.png" alt="健康とおいしさのいいとこ取りを目指しました。">
					</div>
				</section>
				<section class="recipe">
					<div class="recipe__contents">
						<h2 class="recipe__title">
							<img src="assets/images/recipe_title.svg" alt="簡単だからいい、サクッと健康レシピ集">
						</h2>
						<div class="recipe__menu recipe__menu--01">
							<img src="assets/images/recipe_menu01.png" alt="味噌汁">
						</div>
						<div class="recipe__menu recipe__menu--02">
							<img src="assets/images/recipe_menu02.png" alt="つけめん、つけうどん">
						</div>
						<div class="recipe__menu recipe__menu--03">
							<img src="assets/images/recipe_menu03.png" alt="だし唐揚げ">
						</div>
						<div class="recipe__menu recipe__menu--04">
							<img src="assets/images/recipe_menu04.png" alt="キムチ鍋">
						</div>
						<div class="recipe__menu recipe__menu--05">
							<img src="assets/images/recipe_menu05.png" alt="冷奴">
						</div>
						<div class="recipe__menu recipe__menu--06">
							<img src="assets/images/recipe_menu06.png" alt="ビシソワーズ">
						</div>
						<p class="recipe__catch">
							<img src="assets/images/recipe_catch.png" alt="使い方いろいろ">
						</p>
					</div>
				</section>
				<section class="voice">
					<h2 class="voice__title">
						<img src="assets/images/voice_title.svg" alt="お客様の声">
					</h2>
					<div class="voice__item">
						<div class="voice__image">
							<img src="assets/images/voice_image01.png" alt="息子の離乳食に使っています。">
						</div>
						<h3 class="voice__name">三重県在住 まゆ子さん</h3>
						<p class="voice__text">うま味調味料や保存料などが入っていないお出汁なので、安心だなぁと思って使い始めました。食塩不使用なので自由に味を調整できるところもいい。もりもり食べて大きくなあれ！</p>
					</div>
					<div class="voice__item">
						<div class="voice__image">
							<img src="assets/images/voice_image02.png" alt="子どもがキャンプで出汁をとる。">
						</div>
						<h3 class="voice__name">東京都在住 あかりさん</h3>
						<p class="voice__text">子どもたち、なんでも自分でやりたいお年頃。振りかけるだけで美味しい出汁がとれるので、キャンプ飯にも大活躍です。</p>
					</div>
					<div class="voice__item">
						<div class="voice__image">
							<img src="assets/images/voice_image03.png" alt="高齢の母の健康について考えた。">
						</div>
						<h3 class="voice__name">長崎県在住 恵子さん</h3>
						<p class="voice__text">母の介護で気を付けたことは、入れ歯でも食べやすい食事。KAKEDASHIは汁物にも、やわらかい料理にも簡単に使えるので、栄養を摂るには一番。カルシウムやたんぱく質が入っているのも嬉しいですね。</p>
					</div>
					<div class="voice__item">
						<div class="voice__image">
							<img src="assets/images/voice_image04.png" alt="子どものバレーボール、応援したくて栄養のことを考えた。">
						</div>
						<h3 class="voice__name">北海道在住 穂高さん</h3>
						<p class="voice__text">小学生の子どもがこんなにバレーボールに夢中になるとは、びっくり。大きくなりたいというので、親としてはカルシウムやたんぱく質をちゃんと摂らせてあげようと、やっぱり気を使っています。
						<br>KAKEDASHIは朝昼晩いろんな料理と合わせて美味しく栄養を摂れるので、うれしいですね。</p>
					</div>
					<div class="voice__item">
						<div class="voice__image">
							<img src="assets/images/voice_image05.png" alt="健康マニアなので、食べるものにはちょっとこだわる。">
						</div>
						<h3 class="voice__name">北海道在住　仁さん</h3>
						<p class="voice__text">栄養学に興味を持つ妻がKAKEDASHIを買ってきました。毎日の食事で健康な体を作りたいと、夫婦で利用しています。いま40代なのですが、60代以降のことを考えてコツコツ実践しています。</p>
					</div>
					<div class="voice__item">
						<div class="voice__image">
							<img src="assets/images/voice_image06.png" alt="不健康食だから、せめてもの健康に。">
						</div>
						<h3 class="voice__name">北海道在住　崇彦さん</h3>
						<p class="voice__text">一人暮らしです。お米、惣菜、カップラーメン。胸を張れない食事が多いです・・。なのでKAKEDASHIで補っています。ちゃんと料理した方がいいのは分かっているんですけどね。でも、何もしないよりは絶対にいい。カップラーメンには最高に合いますし。</p>
					</div>
					<div class="voice__item">
						<div class="voice__image">
							<img src="assets/images/voice_image07.png" alt="あれ？うちの子偏食かも…">
						</div>
						<h3 class="voice__name">東京都在住 寛子さん</h3>
						<p class="voice__text">お米やラーメンなどの炭水化物が好きな息子。お味噌汁やスープなどにこっそりしのばせられるところがいいですね。我が家ではつけ麺が好評。</p>
					</div>
				</section>
				<div class="commit">
					<img src="assets/images/commit.png" alt="素材最優先でつくっています。">
				</div>
				<section class="gallery">
					<h2 class="gallery__title">
						<img src="assets/images/gallery_title.svg" alt="簡単！一杯でミネラル豊富な食事を!">
					</h2>
					<div class="gallery__image">
						<img src="assets/images/gallery_image.png" alt="">
					</div>
				</section>
				<section class="cta">
					<h2 class="cta__title">
						<img src="assets/images/cta_title.svg" alt="新健康習慣、はじめよう！">
					</h2>
					<p class="cta__product">
						<img src="assets/images/cta_product.png" alt="KAKEDASHI かけだし100g入り">
					</p>
					<p class="cta__seibun">
						<img src="assets/images/seibun.png" alt="">
					</p>
				</section>
				<div class="bottom">
					<a href="https://shop.sincerite.jp/lp?u=kakedashi_01" class="btn">
						<img src="assets/images/btn.png" alt="購入はこちら">
					</a>
					<!-- <a href="" class="site-link">
						<img src="assets/images/recipesite.png" alt="レシピサイトはこちら">
					</a> -->
					<a href="https://www.sincerite.jp/" class="bottom__text">
						<img src="assets/images/sincerite.svg" alt="サンセリテ札幌">
					</a>
				</div>
				<div class="fixed-btn">
					<a href="" class="fixed-btn__recipe">
						<img src="assets/images/recipesite.png" alt="レシピサイトはこちら">
					</a>
					<a href="" class="fixed-btn__btn">
						<img src="assets/images/btn.png" alt="購入はこちら">
					</a>
				</div>
			</div>
		</div>
	</main>
<!-- CONTENTS -->
<% include _common/_footer %>